.hider {
    display: none;
}
html {
    width: 100%;
    height: 100%;
}
body {
    background-color: rgb(49, 49, 49);
    min-width: 100%;
    min-height: 100%;
}

h1 {
    color: white;
    font-family: 'Staatliches', cursive;
}

h4 {
    color: white;
    font-family: 'Staatliches', cursive;
    text-align: center;
}

button {
    border: black;
    background-color: black;
    color: ivory;
    font-family: 'Staatliches', cursive;
    height: 300px;
    width: 300px;
    font-size: 400%;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

#buttoncontainer {
    padding: 0;
    padding-top: 12.5%;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.black {
    background-color: black;
}

.white {
    background-color: rgb(185, 185, 185);
}

.space {
    background-image: url(nightsky.png);
    background-repeat: repeat;
    background-size: 400px 400px;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}